<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <% if (option == 'dashboard') { %>
                    <li class = "active">
                    <% } else {%>
                    <li>
                    <% }%>
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <% if (option == 'profile') { %>
                    <li class = "active">
                    <% } else {%>
                    <li>
                    <% }%>
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <% if (option == 'tables') { %>
                    <li class = "active">
                    <% } else {%>
                    <li>
                    <% }%>
                        <a href="/tables"><i class="fa fa-fw fa-table"></i> My List</a>
                    </li>
                    <% if (option == 'forms') { %>
                    <li class = "active">
                    <% } else {%>
                    <li>
                    <% }%>
                        <a href="/forms"><i class="fa fa-fw fa-edit"></i>Forms</a>
                    </li>
                    <% if (admin == 'yes'){ %>
                    <% if (option == 'admin') { %>
                    <li class = "active">
                    <% } else {%>
                    <li>
                    <% }%>
                        <a href="/admin"><i class="fa fa-fw fa-edit"></i> Admin Panel</a>
                    </li>
                    <%}%>
                </ul>
            </div>