<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forms
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form">

                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label>Email ID</label>
                                <input class="form-control" placeholder="email@example.com">
                            </div>

                             <div class="form-group">
                                <label>Highest Education</label>
                                <p>
                                <label>College Name</label>
                                <input class="form-control" placeholder="College Name">
                                </p>
                                <label>Degree</label>
                                <input class="form-control" placeholder="Degree Name">
                            </div> 

                            <div class="form-group">
                                <label>Skills</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">C++
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Java
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">C
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">C#
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Python
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Recent Experience</label>
                                <p>
                                <label>Job Title</label>
                                <input class="form-control" placeholder="Job Title">
                                </p>
                                <label>Company Name</label>
                                <input class="form-control" placeholder="Company Name">
                            </div> 

                            <div class="form-group">
                                <label>Number of years of experience</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>1 
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">2 
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">3
                                    </label>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label>Resume</label>
                                <input type="file">
                            </div>


                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>

                        </form>

                    </div>
                    <div class="col-lg-6">

                        

                        <form role="form">
                            <div class="form-group">
                                <label>Photo Upload</label>
                                <input type="file">
                            </div>
                            

                        </form>

                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->